@import './reset.scss';
@import './styledEffects.scss';

body {
  background-color: rgb(251, 251, 251);
  // color: #dfe5ff;
}

html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
  display: block;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

h1 {
  text-align: center;
  margin: 1rem 0;
  font-size: 2.5rem;
}

//brand colors
.brand-pink {
  color: #f72585;
}
.brand-magenta {
  color: #b5179e;
}
.brand-purple {
  color: #7209b7;
}
.brand-dark-purple {
  color: #560bad;
}
.brand-darker-purple {
  color: #480CA8;
}
.brand-darker-blue {
  color: #3a0ca3;
}
.brand-dark-blue {
  color: #3f37c9;
}
.brand-blue {
  color: #4361ee;
}
.brand-light-blue {
  color: #4895ef;
}
.brand-lighter-blue {
  color: #4cc9f0;
}

//brand-buttons {
  .button-brand-pink {
    background-color: #f72585;
    box-shadow: 0px 0px 5px rgba(247, 37, 133, 0.6);
    &:hover {
      background-color: #cd1367;
      box-shadow: 0px 0px 5px rgba(205, 19, 103, 0.6);
    }
  }
  .button-brand-magenta {
    background-color: #b5179e;
    box-shadow: 0px 0px 5px rgba(181, 23, 158, 0.6);
    &:hover {
      background-color: #750564;
      box-shadow: 0px 0px 5px rgba(117, 5, 100, 0.6);
    }
  }
  .button-brand-purple {
    background-color: #7209b7;
    box-shadow: 0px 0px 5px rgba(114, 9, 183, 0.6);
    &:hover {
      background-color: #42036b;
      box-shadow: 0px 0px 5px rgba(181, 23, 158, 0.6);
    }
  }
  .button-brand-dark-purple {
    background-color: #560bad;
    box-shadow: 0px 0px 5px rgba(66, 3, 107, 0.6);
    &:hover {
      background-color: #35046d;
      box-shadow: 0px 0px 5px rgba(53, 4, 109, 0.6);
    }
  }
  .button-brand-darker-purple {
    background-color: #480CA8;
    box-shadow: 0px 0px 5px rgba(72, 12, 168, 0.6);
    &:hover {
      background-color: #270360;
      box-shadow: 0px 0px 5px rgba(39, 3, 96, 0.6);
    }
  }
  .button-brand-darker-blue {
    background-color: #3a0ca3;
    box-shadow: 0px 0px 5px rgba(58, 12, 163, 0.6);
    &:hover {
      background-color: #1f0362;
      box-shadow: 0px 0px 5px rgba(31, 3, 98, 0.6);
    }
  }
  .button-brand-dark-blue {
    background-color: #3f37c9;
    box-shadow: 0px 0px 5px rgba(63, 55, 201, 0.6);
    &:hover {
      background-color: #140e91;
      box-shadow: 0px 0px 5px rgba(20, 14, 145, 0.6);
    }
  }
  .button-brand-blue {
    background-color: #4361ee;
    box-shadow: 0px 0px 5px rgba(67, 97, 238, 0.6);
    &:hover {
      background-color: #1c38b7;
      box-shadow: 0px 0px 5px rgba(28, 56, 183, 0.6);
    }
  }
  .button-brand-light-blue {
    background-color: #4895ef;
    box-shadow: 0px 0px 5px rgba(72, 149, 239, 0.6);
    &:hover {
      background-color: #1776e3;
      box-shadow: 0px 0px 5px rgba(23, 118, 227, 0.6);
    }
  }
  .button-brand-lighter-blue {
    background-color: #4cc9f0;
    box-shadow: 0px 0px 5px rgba(76, 201, 240, 0.6);
    &:hover {
      background-color: #178eb3;
      box-shadow: 0px 0px 5px rgba(23, 142, 179, 0.6);
    }
  }
