.settings-container {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  height: 100vh;
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
  transition: min-width 0.3s ease-in-out;
  margin-left: 225px;
  margin-top: 35px;
  margin-right: 35px;
  overflow-y: auto;

  .settings-navbar {
    display: flex;
    padding-top: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e2e2e2;

    li {
      margin-right: 70px;
      font-size: 0.85rem;
      cursor: pointer;

      .li-icon {
        margin-right: 8px;
      }

      &:hover {
        background: linear-gradient(to right, #b5179e, #480ca8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        .li-icon {
          color: #f72585;
        }
      }
    }

    .active {
      font-weight: bold;
      font-size: 0.84rem;
      padding-bottom: 10px;
      border-bottom: 1px solid #f72585;
      margin-bottom: -1px;
      transition: transform 0.3s ease;
    }
  }
}

.sub-settings-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;

  .settings-section {
    p {
      font-size: 0.8rem;
      padding: 5px 35px;
      color: #888;
    }

    h5 {
      padding-top: 10px;
      padding-bottom: 5px;
      margin-left: 5px;

      span {
        padding-left: 5px;
      }

      button {
        align-items: center;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 4px 3px;
        font-size: 0.75rem;
        width: 60px;
        margin-left: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
    }

    .on {
      color: #4361ee;
    }

    .off {
      color: #f72585;
    }

    .starter {
      color: #f72585;
    }

    .plus {
      color: #4895ef;
    }

    .pro {
      color: #480ca8;
    }

    .delete {
      align-items: center;
      justify-content: center;
      align-content: center;
      justify-items: center;
      color: #fff;
      border: none;
      border-radius: 10px;
      padding: 8px 4px;
      margin: 25px 240px;
      font-size: 1rem;
      width: 25%;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .feature-highlights {
      justify-content: space-between;
      justify-items: flex-start;
      align-items: center;
    }

    .settings-section-row {
      display: flex;
      margin-left: 15px;
      margin-bottom: 10px;
      flex-wrap: wrap;
      text-align: left;

      .plan-highlight {
        color: #888;
      }
      p {
        padding: 0;
        color: #000;

        .check-icon {
          color: #4895ef;
          margin-right: 5px;
        }
      }
      .settings-section-column {
        margin-right: 120px;

        .header {
          color: #000;
          font-weight: bold;
        }
      }
    }

    .margin-top {
      margin-top: 15px;
    }

    .space-between {
      justify-content: space-evenly;
      justify-items: flex-start;
    }

    .settings-section-header {
      display: flex;
      justify-content: space-between;
      margin-right: 45px;

      .settings-section-edit {
        border: 1px solid #ccc;
        border-radius: 15px;
        padding: 2px 6px;
        cursor: pointer;

        .edit-icon {
          color: #888;
        }

        span {
          font-size: 0.85rem;
          color: #888;
          padding: 5px;
        }

        &:hover {
          border: 1px solid #4361ee;
          span {
            color: #4361ee;
          }

          .edit-icon {
            color: #4361ee;
          }
        }
      }
    }

    .settings-form {
      justify-content: flex-start;
      align-content: start;
      display: flex;
      flex-direction: column;
      margin-right: 250px;
      border-radius: 15px;

      .edit-settings-row {
        display: flex;
        justify-content: space-between;

        .edit-settings-label {
          width: 200%;
        }
      }

      .edit-settings-label {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 2px;
        font-weight: bold;
        font-size: 0.85rem;

        .edit-settings-long-input {
          flex: 1;
          width: 200%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 10px;
          font-size: 0.85rem;
          margin-bottom: 15px;
          outline-color: #f72585;
          font-weight: normal;
        }

        .edit-settings-input {
          flex: 1;
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 10px;
          font-size: 0.85rem;
          margin-bottom: 15px;
          outline-color: #f72585;
          font-weight: normal;
        }
      }

      .edit-settings-field {
        margin-top: 5px;
        font-weight: normal;
      }

      button {
        align-items: center;
        justify-content: center;
        align-content: center;
        justify-items: center;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 8px 4px;
        // margin: 5px 250px;
        font-size: 1rem;
        width: 30%;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
    }
  }

  .bottom-border {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .two-factor-options-container {
    border-top: 1px solid #e2e2e2;
    margin: 10px 20px;

    .bottom-border {
      border-bottom: 1px solid #e2e2e2;
      padding-bottom: 15px;
    }

    .two-factor-option {
      display: flex;
      height: 100px;
      // border-bottom: 1px solid #e2e2e2;
      justify-content: space-between;
      align-items: center;
      button {
        margin-right: 45px;
        align-items: center;
        justify-content: center;
        align-content: center;
        justify-items: center;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 8px 15px;
        font-size: 0.85rem;
        width: 100px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      p {
        padding: 5px;
        // width: 50%;
      }
    }
  }
}

.delete-account-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    margin: 5px 10px;
    font-size: 0.85rem;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  span {
    padding-bottom: 15px;
    text-align: center;
    font-size: 0.75rem;
    color: #888;
  }

  p {
    text-align: center;
    font-size: 0.75rem;
    color: #888;
    padding-top: 10px;
    // padding-bottom: 15px;
  }

  .delete-account-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 30%;
    height: 45%;
    border-radius: 25px;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    // padding: 20px 10px 0 10px;

    .button-row {
      display: flex;
      //   width: 200%;
    }
    .delete-account-label {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      // margin-left: 5px;
      // margin-right: 2px;
      font-weight: bold;
      font-size: 0.85rem;

      .delete-account-input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: 0.85rem;
        margin-bottom: 15px;
        outline-color: #f72585;
        font-weight: normal;
      }
    }
  }
}

.invoices-container {
  text-align: center;
}

.invoice-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  // background-color: #fefefe;
  background-color: rgb(251, 251, 251);
  box-shadow: 0px 0px 20px rgba(107, 107, 107, 0.1);
  text-align: left;

  p {
    color: #000 !important;
    font-size: 0.75rem;
  }

  .invoice-description {
    width: 375px;
  }

  .invoice-amount {
    width: 120px;
  }

  .invoice-start {
    width: 165px;
  }

  .invoice-end {
    width: 220px;
  }

  .download-button {
    width: 50px;

    &:hover {
      color: #f72585;
    }
  }
}

.invoice-row-label-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  height: 30px;
  margin: 10px;
  text-align: left;

  p {
    font-size: 0.75rem;
    color: #ccc;
    // padding: 0 !important;
  }

  .invoice-description {
    width: 365px;
  }

  .invoice-amount {
    width: 120px;
  }

  .invoice-start {
    width: 170px;
  }

  .invoice-end {
    width: 170px;
  }

  .download-button {
    width: 100px;
  }
}

.subscription-update-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;


  .close-button {
    margin-right: 55px;
    margin-top: 10px;
    align-items: center;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 0.95rem;
    width: 95px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .cancel-sub {
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 15px;
    font-size: 1rem;
    width: 200px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .subscription-columns-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 85%;
    height: 95%;
    border-radius: 25px;
    // justify-content: center;
    padding-top: 20px;

    .sub-selector-heading {
      display: flex;
      justify-content: space-between;

      h2, h3 {
        margin-left: 55px;
        margin-top: 10px;
      }
    }

  }
  .subscription-cancel-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 35%;
    height: 60%;
    border-radius: 25px;
    padding-top: 20px;
    
    
    .cancel-sub-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;

       P {
        text-align: center;
        margin: 15px 50px 50px 50px;
        font-size: 0.85rem;
        color: #888;
       }
    }
  }
}


