.thin-card-container {
  display: flex;
  flex-direction: column;
  width: var(--card-width, 250px);
  height: var(--card-height, 50px);
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fefefe;
  box-shadow: 0px 0px 20px rgba(107, 107, 107, 0.1);

 

}
.card-row {
  display: flex;
}

.card-column {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: flex-start;
  text-align: left;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.subtitle {
  font-size: 0.75rem;
  font-weight: bold;
}

.Daily {
  color: #f72585;
}
.Weekly {
  color: #4361ee;
}

.Monthly {
  color: #7209b7;
}

.small-card-container {
  display: flex;
  flex-direction: column;
  width: var(--card-width, 200px);
  height: var(--card-height, 100px);
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fefefe;
  box-shadow: 0px 0px 15px rgba(107, 107, 107, 0.1);

  h5 {
    padding: 2px 2px 0 2px;
  }
}

.card-edit-icon {
  color: #a5a5a5;

  &:hover {
    color: #560bad
  }
}

